* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.411);
}

h2,
h3 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 40px;
    color: rgb(146, 19, 19);
}

h3 {
    line-height: 1.5;
}

.titulo-pagina {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(55, 0, 255, 0.575);
    width: 50%;
    height: 50%;
    margin-left: 25%;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
}

.contas {
    background-color: #FFFF;
    width: 80%;
    display: block;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


.main {
    background: #CCC;
    width: 700px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#cadastrar,.btn-contas {
    background: rgba(99, 97, 97, 0.747);
    padding: 10px;
    border-radius: 8px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}

#cadastrar:hover,.btn-contas:hover {
    background-color: #c8c8c8;
    transition: 0.5s;
    opacity: 0.7;
}


/***Estilo Formulario***/

#form-cadastro-contas{
    background: aquamarine;
}

label{
    font-weight: bold;
}

#form-cadastro input{
    width: 250px;
    height: 40px;
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.input-form{
    position: relative;
    top:35px;
    left: 50px;
}

/**Estilo botão**/

